body{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: verdana;
}

.header{
	background-image: url(../Images/Header-back-image.jpeg);
	height: 700px;
	background-size: cover;
}



.contMenu{
	position: relative;
	display: grid;
	grid-template-columns: 1.5fr 3fr 1.6fr;
	height: 60px;
}
.contMenu > div{
	background-color: rgba(0,0,0,0.6);
	padding: 0px;
	border-bottom: solid 0.02em #999;
}
.contMenu > div:nth-child(odd){
	background-color: rgba(0,0,0,0.6);
	border-bottom: solid 0.02em #999;
}
.Menu2 > div{
	background-color: #fff;
	padding: 0px;
	box-shadow: 3px 3px 3px #bbb;
	color: #000;
}
.Menu2 > div:nth-child(odd){
	background-color: #fff;
	box-shadow: 3px 3px 3px #bbb;
	color: #000;
}





.logo{
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.logo img{
	position: relative;
	height: 50px;
	width: 60px;
	color: #fff;
	top: 5px;
	margin-left: 50px;
}
.logo2 img{
	content: url(../Images/mth-logo1.png);
}
.Mediatec{
	position: relative;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin-right: 0px;
}
.Mediatec2{
	color: #000;
}




.menu{
	border-right: solid 1px #999;
}
.menu ul{
	margin-left: 190px;
}
.menu ul li{
	position: relative;
	display: inline-block;
	height: 25px;
	float: left;
	padding: 0px 30px;
	top: 5px;
	cursor: pointer;
}
.menu ul li a {
	text-decoration: none;
	font-size: 11.5px;
	font-weight: 250px;
	color: white;
	opacity: 1;
	letter-spacing: 0.05em;
}
.menu ul li:hover {
	border-bottom: solid 2px #fff;
	transition: .5s;
}
.menu2 ul li a{
	color: #000;
}
.menu2 ul li:hover {
	border-bottom: solid 2px #000;
	transition: .5s;
}
.activemenu{
	border-bottom: solid 2px #fff;
}
.menu2 .activemenu{
	border-bottom: solid 2px #000;
}



.sInscrire{
	position: relative;
	border: solid 2px #fff;
	height: 35px;
	width: 150px;
	background-color: transparent;
	border-radius: 20px;
	top: 12px;
	cursor: pointer;
	outline: none;
	color: #fff;
	margin-left: 40px;
}
.sInscrire:hover{
	background-color: #fff;
	color: #000;
	transition: .5s;
}
.seConnecter{
	position: relative;
	border: solid 2px #3CB371;
	height: 35px;
	width: 100px;
	background-color: transparent;
	border-radius: 20px;
	top: 12px;
	cursor: pointer;
	outline: none;
	color: #fff;
	margin-left: 20px;
}
.seConnecter:hover{
	background-color: #3CB371;
	color: #fff;
	transition: .5s;
}
.sInscrire2{
	border: solid 2px #000;
	color: #000;
}
.sInscrire2:hover{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
.seConnecter2{
	color: #000;
}




.cont{
	background-color: rgba(0,0,0,0.6);
	height: 480px;
	color: #fff;
	position:;
	top: 0px;
	padding: 80px 60px;
}
.h1 p{
	font-size: 42px;
	font-weight: normal;

}
.h3 {
	font-size: 26px;
	font-weight: normal;

}
.h4{
	font-size: 14px;
}
.savoir{
	position: relative;
	border: solid 2px #fff;
	height: 45px;
	width: 200px;
	background-color: transparent;
	top: 50px;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 18px;
}
.savoir:hover{
	background-color: rgba(0,0,0,0.5);
	transition: 0.5s;
	border: solid 2px #fff;
	color: #fff;
}
.lecorps{
	height: 500px;
}
.lecorps .h11{
	font-size: 50px;
	font-weight: bold;
	color: #3CB371;
	text-align: center;
	margin-top: 100px;
	padding: 30px 50px;
	line-height: 1em;
}
.lecorps .h22{
	font-size: 42px;
	font-weight: normal;
	color: #333;
	text-align: center;
	line-height: 1em;
}
.lecorps p{
	font-size:;
	font-weight:;
	color: #333;
	text-align: center;
	padding: 50px 250px;
	padding-top: -50px;
}
.lecorps ul{
	text-decoration: none;
	list-style: none;
}





footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 500px;
}

footer > div{
	background-color: rgba(0,0,0,0.85);
	padding: 0px;
}
footer > div:nth-child(odd){
	background-color: rgba(0,0,0,0.85);
}
.logof{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.Mediate{
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin-left: 0px;
}
.logof img{
	position: ;
	height: 50px;
	width: 60px;
	color: #fff;
	top: 5px;
	margin-left: 50px;
}
.dive1 p{
	margin-left: 50px;
	color: #fff;
}
.dive1{
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
}
.dive2{
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 50px;
}
.service a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	float: none;
}
.service a:hover{
	padding: 16px 0px;
	background-color: #222;
}
.dive2 p{
	color: #fff;
}
.dive3{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 50px;
}
.dive4{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 70px;
}
.partner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.partner img{
	position: relative;
	filter: grayscale(100%);
	transition: 0.2s;
}
.partner img:hover{
	filter: grayscale(0);
	transform: scale(1.2);
}
