
body{
	font-family: verdana;
	margin: 0px;
	padding: 0px;
}

header{
	background-image: url(../Images/Header-back-image.jpeg);
	background-size: cover;
	height: 1040px;
}

section{
	margin: 0px;
	padding: 0px;
	position: absolute;
	height: 980px;
	width: 100%;
	top: 60px;
	background-color: rgba(0,0,0,0.6);
}
aside{
	position: absolute;
	height: 600px;
	width: 90%;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

aside h1{
	text-align: center;
	color: #fff;
	font-size: 36px;
}

aside p{
	font-size: 14px;
	color:  #fff;
	text-align: center;
	margin-top: -15px;
}


form{
	padding: 3% 5%;
}

input[type="text"], input[type="email"]{
	height: 40px;
	width: 27%;
	border: solid 2px #fff;
	border-radius: 1px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	background-color: transparent;
	overflow: hidden;
	padding: 0px 21px;
}

textarea{
	height: 150px;
	min-height: 150px;
	max-height: 150px;
	width: 95%;
	color: #fff;
	min-width: 95%;
	max-width: 95%;
	border: solid 2px #fff;
	border-radius: 1px;
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
	overflow: hidden;
	padding: 10px 21px;
}

input::placeholder, textarea::placeholder{
	font-size: 12px;
	color: #fff;
	opacity: 1;
}

input[type="submit"]{
	margin: 5px 100px;
	height: 60px;
	border: none;
	width: 160px;
	background-color: #da8300;
	color: #fff;
	font-size: 22px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
}
input[type="submit"]:hover{
	background-color: #ff9100;
}


.contacts{
	position: absolute;
	height: 290px;
	width: 85%;
	background-color: #eee;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -35%);
}

table{
	position: absolute;
	color: #000;
	font-weight: bold;
	width: 100%;
	font-family: Arial;
}

table tr img{
	padding: 15px 30px;
}
span{
	position: absolute;
	color: #000;
	font-weight: bold;
	margin-top: 190px;
	width: 100%;
	padding: 0 120px;
	font-family: Calibri;
	letter-spacing: 0.05em;
}


.footercontact{
	position: absolute;
}