body{
	font-family: verdana;
}

header{
	background-image: url(../Images/Header-back-image.jpeg);
	background-size: cover;
	height: 730px;
}

.sectionService{
	position: absolute;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.6);
	background-size: cover;
	height: 670px;
	width: 100%;
	top: 60px;
}

.asideservice{
	position: absolute;
	height: 460px;
	width: 80%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	overflow: hidden;
	padding: 20px 20px;
	color: #fff;
}
h1{
	font-size: 32px;
	text-align: center;
}
#pagi1, #pagi2{
	position: absolute;
	display: flex;
	height: 300px;
	width: 98%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 10px;
}
#pagi1 div, #pagi2 div{
	height: 75%;
	width: 33%;
	border: solid 5px #eee;
	box-shadow: 3px 3px 7px #222;
}
#pagi1 div:hover img{
	transform: scale(1.2);
}
.image1{
	background-image: url(../Images/0.jpg);
	background-size: cover;
	background-position: center;
}
.image2{
	background-image: url(../Images/L-installation.jpg);
	background-size: cover;
	margin-left: 20px;
	background-position: center;
}
.image3{
	background-image: url(../Images/Création.jpg);
	background-size: cover;
	margin-left: 20px;
	background-position: center;
}
.image4{
	background-image: url(../Images/The-7Ps-Marketing-Mix.png);
	background-size: cover;
	background-position: center;
}
.image5{
	background-image: url(../Images/network.jpg);
	background-size: cover;
	margin-left: 20px;
	background-position: center;
}
.image6{
	background-image: url(../Images/Installation_Service.jpg);
	background-size: cover;
	margin-left: 20px;
	background-position: center;
}
#pagi1 p, #pagi2 p{
	position: absolute;
	top: 70%;
	font-size: 24px;
}
.asideservice button{
	border: none;
	color: #eee;
	height: 30px;
	width: 40px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
.pagi1{
	visibility: hidden;	
}
.pagi2{
	visibility: hidden;
}

.btn1{
	position: absolute;
	top: 93%;
	left: 90%;
	background-color: #32CD97;
}
.btn1:hover{
	background-color: #32CD00;
}
.btn2{
	background-color: #32CD97;
	position: absolute;
	top: 93%;
	left: 95%;
}
.btn2:hover{
	background-color: #32CD00;
}
.active{
	background-color: #A0A0A0;
}
.active:hover{
	background-color: #A0A0A0;
}